<!DOCTYPE html>
<html lang="en">

<head>
    <title>로또번호 생성, 당첨금 실수령 계산기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords" content="로또, 당첨금, 로또번호" />
    <meta name="description" content="로또번호 생성과, 로또 실수령 계산기입니다.">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js"></script>
    <script src="/js/lotto.js"></script>
    <script data-ad-client="ca-pub-3851071656470441" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153637727-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-153637727-1');
    </script>

</head>

<body>
    <div class="ui inverted menu">
        <a href="/" class="active item">
            로또번호생성
        </a>
        <a class="item" onclick="alert('준비중입니다.')">
            당첨정보
        </a>
    </div>
    <div class="container generater">
        <div class="ui segments">
            <h2 class="lottoTitle">로또 번호</h2>
            <div class="ui segment lottoWrap">
            </div>
        </div>
        <button id="generate" class="ui large green button">생성</button>
    </div>
    <div class="container infoContainer">
        <div class="ui segments">
            <h2 class="lottoTitle">등수 및 배분</h2>
            <div class="ui segment">
                <table class="ui celled table">
                    <colgroup>
                        <col style="width:105px">
                        <col style="width:175px">
                        <col style="width:160px">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">등위</th>
                            <th scope="col">당첨방법</th>
                            <th scope="col">확률</th>
                            <th scope="col">당첨금 배분 비율</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1등</td>
                            <td>6개 번호 일치</td>
                            <td>1 / 8,145,060</td>
                            <td>총 당첨금 중 4등, 5등 금액을 제외한 금액의 75%</td>
                        </tr>
                        <tr>
                            <td>2등</td>
                            <td>5개 번호 일치<br>+ 보너스 번호일치</td>
                            <td>1 / 1,357,510</td>
                            <td>총 당첨금 중 4등, 5등 금액을 제외한 금액의 12.5%</td>
                        </tr>
                        <tr>
                            <td>3등</td>
                            <td>5개 번호 일치</td>
                            <td>1 / 35,724</td>
                            <td>총 당첨금 중 4등, 5등 금액을 제외한 금액의 12.5%</td>
                        </tr>
                        <tr>
                            <td>4등</td>
                            <td>4개 번호 일치</td>
                            <td>1 / 733</td>
                            <td>50,000원</td>
                        </tr>
                        <tr>
                            <td>5등</td>
                            <td>3개 번호 일치</td>
                            <td>1 / 45</td>
                            <td>5,000원</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container calcContainer">
        <div class="ui segments">
            <h2 class="lottoTitle">실수령 계산기</h2>
            <div class="ui segment">

                <div id="calcWrap" class="ui form">
                    <div class="four fields">
                        <div class="ui center field labeled input">
                            <div class="ui floating dropdown column labeled icon button">
                                <i class="filter icon"></i>
                                <span class="text">회차</span>
                                <div class="menu">
                                    <div class="ui icon search input">
                                        <i class="search icon"></i>
                                        <input type="text" placeholder="회차 검색">
                                    </div>
                                    <div class="divider"></div>
                                    <div class="scrolling menu">
                                        <div class="item">
                                            직접 입력
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui center field labeled input">
                            <label for="amount" class="ui label">당첨금</label>
                            <input type="number" placeholder="당첨금" id="amount">
                            <label for="amount" class="ui label">&#8361;</label>
                        </div>
                        <div class="ui center field labeled input">
                            <label for="amount" class="ui label">세 금</label>
                            <input type="text" placeholder="세금" id="tex" value="0" readonly>
                            <label for="amount" class="ui label">&#8361;</label>
                        </div>
                        <div class="ui center field labeled input">
                            <label for="amount" class="ui label">지급액</label>
                            <input type="text" placeholder="지급액" id="real" readonly>
                            <label for="amount" class="ui label">&#8361;</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container infoContainer">
        <div class="ui segments">
            <h2 class="lottoTitle">원천징수 세율</h2>
            <div class="ui segment">
                <table class="ui celled table">
                    <colgroup>
                        <col style="width:50%">
                        <col style="width:50%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">기타소득금액</th>
                            <th scope="col">세율</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5만원 초과 ~ 3억 이하</td>
                            <td>22% (소득세 20% + 주민세 2%)</td>
                        </tr>
                        <tr>
                            <td>3억 원 초과</td>
                            <td>33% (소득세 30% + 주민세 3%)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $('#generate').click(function() {
            lottoGenerate()
        })
        $('.ui.dropdown')
            .dropdown();
        $('#amount').on("change keyup paste", function() {
            var count = $(this).val()
            switch (true) {
                case (count <= 50000):
                    $('#tex').val(0)
                    $('#real').val(comma($(this).val()))
                    break;
                case ($(this).val() > 50000 && $(this).val() <= 300000000):
                    $('#tex').val(comma(count * 0.22))
                    $('#real').val(comma(count * 0.78))
                    break;
                case ($(this).val() > 300000000):
                    var maxTex = ((count - 1000) - 300000000) * 0.33
                    var tex = 66000000 + maxTex
                    $('#tex').val(comma(Math.floor(maxTex)))
                    $('#real').val(comma(Math.round(count - tex)))
                    break;
                default:
                    break;
            }

        })

        function comma(num) {
            var len, point, str;
            num = num + "";
            point = num.length % 3;
            len = num.length;
            str = num.substring(0, point);
            while (point < len) {
                if (str != "") str += ",";
                str += num.substring(point, point + 3);
                point += 3;
            }
            return str;
        }
    })
</script>

</html>