.ui.circular.label,
.ui.circular.labels .label {
    font-size: 1.2em;
    min-width: 2.1em;
    min-height: 2.1em;
    padding: .5em!important;
    line-height: 1.1em;
    text-align: center;
    border-radius: 500rem;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.generater {
    margin-top: 30px;
    font-size: 36px;
}

.lottoTitle {
    margin: 0;
    margin-left: 18px;
    padding: 18px 0;
    text-align: center;
}

.lottoWrap {
    height: 300px;
    text-align: center;
    overflow-y: scroll;
}

#generate {
    width: 100%;
    font-size: 0.7em;
}

.calcContainer {
    margin-top: 50px;
}

.infoContainer {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* semantic */

.ui.form .field .ui.input,
.ui.form .fields .field .ui.input,
.ui.form .wide.field .ui.input {
    width: auto;
}